.header {
  text-align: center;
  font-size: 50px;
  min-height: 200px;
  width: 80%;
  background-color: #c54b4b; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7d5d5; 
  min-height: 100vh;
  font-family: sans-serif;
}

.plus {
  font-size: 50px;
  margin-top: 20px;
  color: #009933; 
}

.remove {
  color: #ff0000;
  font-size: 30px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

.list-item {
  padding: 20px;
  background-color: #fff7f7;
  margin: 20px 20px;
  border-radius: 20px;
}

.form-modal {
  padding: 20px;
}

.category-item {
  background-color: #f7dddd;
  border-radius: 20px;
  margin-bottom: 50px;
}

.category-name {
  text-align: left;
  margin-left: 20px;
}

.trash {
  margin-right: 10px;
}

.trash:hover {
  cursor: pointer;
  color: #ff3333;
}